body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  font-size: 10px;
  user-select: none;
}


body {
  background: linear-gradient(45deg, #ff9a9e, #fad0c4, #a18cd1, #fbc2eb, #84fab0, #8fd3f4, #b0f3f1);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


h3,p{
  font-size: 4rem;
  text-align: center;
  color:black;
  text-align: center;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid white;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background-color: #212121;
}

.playing {
  transform: scale(1.1);
  border-color: #bb86fc;
  box-shadow: 0 0 1rem #bb86fc;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #bb86fc;
}

kbd{
  cursor: pointer;
}

footer{
  text-align: center;
  color: #fff;
}

a{
  color: #fff;
}



.footer-h{

  font-size: 22px;

}

.icon-instagram{
  height: 20px;
  padding-right: 20px;
  width: 20px;
}

.icon-github{
  padding-left: 20px;
  height: 20px;
  width: 20px;
}

.icon-linkedin{
  height: 20px;
  width: 20px;
}